        <button type="button" class="btn btn-primary approveButton" href="/approvals/{{approvals}}">APPROVE</button>

        <button type="button" class="btn btn-primary denyButton" href="{{deny-form}}">DENY</button>