<button type="button" class="btn btn-primary denyButton formDeny" href="/approvals/{{approvals}}">DENY</button>

        <section>
            <div class="card denyCard">
                <div class="card-body">

                    <div class="container denyForm">
                        <h3 class="card-head">CAPITAL / EXPENSE REQUEST FORM</h3>


                        <h5 class="category">Additional Comments</h5>
                        <textarea class="form-control" rows="5" id="comment" placeholder="Comment"></textarea>

                    </div>


                </div>

            </div>
            </div>
        </section>
        </div>
    </section>