    <section id=content>

        <header>
            <h1>ePortal</h1>
        </header>

        <section>
            <div class="card approvedTable">
                <div class="card-body">

                    <div class="container">
                        <div class="row">
                            <div class="col-9">
                                <h3 class="card-head">CAPITAL / EXPENSE REQUEST FORM</h3>
                            </div>
                            <div class="col-3">
                                <span class="category">Request Number: </span><span
                                    class="output request-number">LAX123</span>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="category">Cost Bearing Entity</h5>
                                <select class="form-control">
                                    <option>ATL</option>
                                    <option>BOS</option>
                                    <option>CLE</option>
                                    <option>CMH</option>
                                    <option>DFW</option>
                                    <option>ELP</option>
                                    <option>JFK</option>
                                    <option>LAX</option>
                                    <option>LAX2</option>
                                    <option>MEX</option>
                                    <option>MIA</option>
                                    <option>ORD</option>
                                    <option>SEA</option>
                                    <option>SFO</option>
                                    <option>USHQ</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <h5 class="category">Check Appropriate Box</h5>
                                <div class="purchase form-check form-check-inline">
                                    <label class="category form-check-purchase" for="checkPurchase">Purchase</label>
                                    <input class="form-check-input" type="checkbox" id="checkPurchase" value="option1">
                                </div>
                                <div class="lease form-check form-check-inline">
                                    <label class="category form-check-lease" for="checkLease">Lease</label>
                                    <input class="form-check-input" type="checkbox" id="checkLease" value="option1">
                                </div>
                                <div class="purchase form-check form-check-inline">
                                    <label class="category form-check-contract" for="checkContract">Contract</label>
                                    <input class="form-check-input" type="checkbox" id="checkContract" value="option1">
                                </div>
                            </div>
                            <div class="col-2">
                                <h5 class="category">CAPEX or GSR</h5>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <h5 class="category">Reason For Request</h5>
                                    <textarea class="form-control" rows="5" id="comment" placeholder="Comment"></textarea>
                                </div>
                            </div>

                            <div class="col-8">
                                <div class="form-group">
                                    <h5 class="category">Additional Comments</h5>
                                    <textarea class="form-control" rows="5" id="comment" placeholder="Comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container finalForm">
                        <h6 class="sectionHead">Request Item</h6>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <h5 class="category exception">Vendor Name</h5>
                                    <input type="text" class="form-control vendor-name" id="usr" placeholder="Vendor">
                                </div>
                            </div>

                            <div class="col-8">
                                <div class="form-group">
                                    <h5 class="category exception">Specification</h5>
                                    <input type="text" class="form-control specifications" id="usr" placeholder="Specification">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <h5 class="category">Quantity</h5>
                                    <input type="text" class="form-control quantity" id="usr" placeholder="0">
                                </div>
                                <a class="add-item" href="">+ Add Item</a>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <h5 class="category">Unit Price</h5>
                                    <input type="text" class="form-control unit-price" id="usr" placeholder="$00.00">
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <h5 class="category">Total Amount</h5>
                                    <input type="text" class="form-control total-amount" id="usr" placeholder="$00.00">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
    </section>