<div class="sidenav">
    <img src="profilePic.jpg" class="rounded-circle" alt="Profile Pic"> 
    <h3 id="userName">Alexis Bieda</h3>

    <hr>
    
    <img src="dashboard.png" class="float-left"> 
    <a class="tab" href="#dashboard">Dashboard</a>

    <img src="requests.png" class="float-left"> 
    <a class="tab" href="#requests">Task Requests</a>

    <img src="approvals.png" class="float-left"> 
    <a class="tab" href="#approvals">Pending Approvals</a>

    <hr>
    
    <h4>Settings</h4>

    <img src="settings.png" class="float-left"> 
    <a class="tab" href="#approvals">Settings</a>

    <img src="notifications.png" class="float-left"> 
    <a class="tab" href="#approvals">Notifications</a>

    <img src="logout.png" class="float-left"> 
    <a class="tab" href="#approvals">Logout</a>
</div>