<section class="navigation">
    <div class="nav" data-spy="affix">
        <div id="sidenav">
            <div class="container sections">
                <div class="row">
                    <img src="/public/assets/images/prof.jpg" class="img-circle" alt="Profile Pic">
                </div>

                <div class="row">
                    <h3 id="userName">Alexis Bieda</h3>
                </div>
            </div>

            <hr>

            <div class="container">


                <a class="row tabsOne">
                    <i class="fas fa-columns"></i>
                    <p>Dashboard</p>
                </a>

                <a class="row tabs">
                    <i class="fas fa-clipboard-check"></i>
                    <p>Task Requests</p>
                </a>

                <a class="row tabs">
                    <i class="fas fa-exclamation-circle"></i>
                    <p>Pending Approvals</p>
                </a>


            </div>

            <hr id="lineTwo">

            <div class="container">
                <h4 id="settingsNav">Settings</h4>

                <a class="row tabs">
                    <i class="fas fa-cog"></i>
                    <p>Settings</p>
                </a>

                <a class="row tabs">
                    <i class="fas fa-bell"></i>
                    <p>Notifications</p>
                </a>

                <a class="row tabs">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Logout</p>
                </a>

            </div>
        </div>
    </div>
</section>