  <section id=content>

        <header>
            <h1>ePortal</h1>
        </header>

        <section>
            <div class="card approvedTable">
                <div class="card-body">
                    <table class="table no-border">
                        <thead>
                            <tr>
                                <th scope="col" class="card-head">PENDING APPROVAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="category">Request Number: </span><span
                                        class="output request-number">LAX123</span></td>
                                <td><span class="category">Vendor: </span><span
                                        class="output vendor-name">LAX123</span></td>
                                <td><span class="category">Date: </span><span
                                        class="output request-date">MM/DD/YYYY</span>
                                </td>
                                <td><button type="button" class="btn btn-primary">REVIEW</button></td>
                            </tr>
                            <tr>
                                    <td><span class="category">Request Number: </span><span
                                            class="output request-number">LAX123</span></td>
                                    <td><span class="category">Vendor: </span><span
                                            class="output vendor-name">LAX123</span></td>
                                    <td><span class="category">Date: </span><span
                                            class="output request-date">MM/DD/YYYY</span>
                                    </td>
                                    <td><button type="button" class="btn btn-primary">REVIEW</button></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        </div>
    </section>