<section>
    <div class="card">
        <div class="card-body">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="card-head">Pending Approvals</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="bold">Request Number: </span><span class="request-number">LAX123</span></td>
                        <td><span class="bold">Vendor: </span><span class="vendor-anme">Vendor</span></td>
                        <td><span class="bold">Date: </span><span class="request-date">MM/DD/YYYY</span></td>
                        <td><span class="bold">Approver: </span><span class="assigned-approver">Vartan Krekorian</span></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</section>