   <section>
        <div class="card" id="loginSection">
            <div class="card-body">


                <div class="loginmodal-container">

                    <h1 class="loginTitle">ePortal Sign Up</h1>

                    <br>

                    <div class="form-group">

                        <div id="username-form" class="form-group col-lg-12">
                            <h5 class="category">Email *</h5>

                            <input type="text" class="form-control email" id="username-input" placeholder="Email">

                        </div>

                        <div id="firstName-form" class="form-group col-lg-12">
                            <h5 class="category">First Name *</h5>

                            <input type="text" class="form-control firstName" id="firstName-input" placeholder="Name">

                        </div>

                        <div id="lastName-form" class="form-group col-lg-12">
                            <h5 class="category">Last Name *</h5>

                            <input type="text" class="form-control lastName" id="lastName-input" placeholder="Name">

                        </div>

                        <div id="password-form" class="form-group password-form col-lg-12">
                            <h5 class="category">Password *</h5>

                            <input type="password" class="form-control password" id="password-feedback"
                                placeholder="Password">

                        </div>

                        <div class="container">
                            <h5 class="category">Status</h5>
                            <select class="form-control">
                                <option>Requester</option>
                                <option>IT Manager</option>
                                <option>District Manager</option>
                                <option>U.S. President</option>
                                <option>Site Administrator</option>
                            </select>
                        </div>

                        <button type="button" class="btn btn-primary signup">SIGN UP</button>

                    </div>


                </div>

            </div>
        </div>
    </section>