<body>
    {{> nav }}
    {{> login-modal }}

    <header>
        <h1>ePortal</h1>
    </header>

    <section>
        <div class="card">
            <div class="card-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="card-head">Task History</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Pending Approvals</th>
                        </tr>
                        <tr>
                            <td><span class="bold">Request Number: </span><span class="request-number">LAX123</span></td>
                            <td><span class="bold">Date: </span><span class="request-date">MM/DD/YYYY</span></td>
                            <td><span class="bold">Approver: </span><span class="assigned-approver">Vartan Krekorian</span></td>
                        </tr>


                        <tr>
                            <th scope="row">Approved</th>
                        </tr>
                        <tr>
                            <td><span class="bold">Request Number: </span><span class="request-numberA">LAX123</span></td>
                            <td><span class="bold">Date: </span><span class="request-dateA">MM/DD/YYYY</span></td>
                            <td><span class="bold">Approver: </span><span class="assigned-approverA">Vartan Krekorian</span></td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>
        </div>
    </section>

    <section>
        <div class="card">
            <div class="card-body">

       

            </div>
        </div>
    </section>

    <section>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="card-head">Approvers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="approver-name">Name</th>
                        </tr>
                        <tr>
                            <td class="approver-location">Location</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</body>